*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Amazon Ember", Arial, sans-serif;
}

.cabecalho{
    display: flex;
    align-items: center;
    background-color: black;
    height: 60px;
}

.esquerdo{
    color: #fff;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navs{
    text-wrap: nowrap;
    align-items: center;
    background: none;
    border: none;
    border-radius: 8px;
    border-top: 2px transparent;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-style: normal;
    font-weight: 500;
    justify-content: start;
    max-width: 100%;
    overflow: hidden;
    text-decoration: inherit;
    transition-duration: .1s;
    transition-property: color, background-color, box-shadow;
    white-space: nowrap;
}

.logo{
    width: 96px;
    height: 19px;
    margin-right: 20px;
    margin-left: 25px;
}

nav a {
    text-decoration: none;  
    padding: 20px;  
    color: white;
}

nav a:hover {
    color: black;
    background-color: white;
    background-size: 5px 
}

.imagemBaixa{
    width: 200vh;
    height: 84vh;
}