*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Amazon Ember", Arial, sans-serif;
}

.logo{
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    margin-top: 12px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.forms{
    padding: 20px;
    border: 1px solid rgba(124, 124, 124, 0.24);
    border-radius: 6px;
    width: 348px;

}

.title{
    margin-bottom: 12px;
}

.title h1{
   font-weight: 500;
   font-size: 28px;
   line-height: 36px;
}

.insert p{
   font-weight: 700;
   font-size: 14px;
}

.insert input{
    height: 35px;
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
    padding-left: 10px;
    border: 1px solid black;
}

.btn{
    margin-top: 20px;
}

.btn button{
    background-color: #ffd814;
    width: 100%;
    height: 35px;
    border-radius: 20px;
    border: none;
}

.terms{
    margin-top: 12px;
    width: 296px;
    font-size: 12px;
}

.terms a{
    color: #007185;
}

.support{
    margin-top: 20px;
}

.support a{
    text-decoration: none;
    color: #007185;
    font-size: 12px;
}

.text_amazon{
     margin-top: 12px;
     position: relative;
     display: flex;
     align-items: center;
     gap: 10px;


     & div {
        width: 120px;
        height: 1px;
        background-color: #00000056;
     }

}

.text_amazon p{
    font-size: 13px
}

.btn2{
    margin-top: 12px;
}

.btn2 button{
    width: 350px;
    border-radius: 50px;
    height: 31px;
    background-color: #fff;
    border: 1px solid #00000038;
}

.line_footer{
    width: 100%;
    height: 1px;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.35);
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    flex-direction: column;
}

.copyright a{
    font-size: 12px;
    padding: 12px;
    text-decoration: none;
    color: #007185;
}

.reserv{
    padding-top: 12px;
}

.copyright p{
    font-size: 13px;
    color: #00000061;
}